In [1]:
import pandas as pd

In [2]:
adf = pd.DataFrame(
{"x1" : ["A", "B", "C"],
"x2" : [1, 2, 3]},
index = [1, 2, 3])

bdf = pd.DataFrame(
{"x1" : ["A", "B", "D"],
"x2" : ["T", "F", "T"]},
index = [1, 2, 3])

ydf = pd.DataFrame(
{"x1" : ["A", "B", "C"],
"x2" : [1, 2, 3]},
index = [1, 2, 3])

zdf = pd.DataFrame(
{"x1" : ["B", "C", "D"],
"x2" : [2, 3,4]},
index = [1, 2, 3])

"""
display(adf)
display(bdf)
display(ydf)
display(zdf)
"""
type(adf)

pandas.core.frame.DataFrame

In [20]:
#Join matching rows from bdf to adf
pd.merge(adf, bdf,how='left', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F
2  C     3  NaN

In [21]:
#Join matching rows from adf to bdf.
pd.merge(adf, bdf,how='right', on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  D   NaN    T

In [22]:
#Join data. Retain only rows in both sets.
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2_x x2_y
0  A     1    T
1  B     2    F

In [23]:
#Join data. Retain all values, all rows.
pd.merge(adf, bdf, how='outer', on='x1')

  x1  x2_x x2_y
0  A   1.0    T
1  B   2.0    F
2  C   3.0  NaN
3  D   NaN    T

In [24]:
#All rows in adf that have a match in bdf
adf[adf.x1.isin(bdf.x1)]

  x1  x2
1  A   1
2  B   2

In [14]:
#All rows in adf that do not have a match in bdf.
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
3  C   3

In [25]:
#Rows that appear in both ydf and zdf (Intersection).
pd.merge(ydf, zdf)

  x1  x2
0  B   2
1  C   3

In [26]:
#Rows that appear in either or both ydf and zdf (Union).
pd.merge(ydf, zdf, how='outer')

  x1  x2
0  A   1
1  B   2
2  C   3
3  D   4

In [28]:
#Rows that appear in ydf but not zdf (Setdiff)
pd.merge(ydf, zdf, how='outer', indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])

  x1  x2
0  A   1

In [13]:
#All rows in adf that do not have a match in bdf.
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
3  C   3