In [3]:
import pandas as pd
# Convert a single dictionary containing lists into a DataFrame
df = pd.DataFrame(
    {"A": ["Early Dynastic Period", "Old Kingdom"],
     "B": ["Thinis", "Memphis"]
     }
)

# Create a new DataFrame with renamed columns
df_renamed = df.rename(columns={'A': 'Dynasty', 'B': 'Pharaoh'})
# Convert a single dictionary containing lists into a DataFrame


# Display the new DataFrame with renamed headers
print("\nNew DataFrame with renamed headers:")
display(df_renamed)

New DataFrame with renamed headers:

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis