In [5]:
# Dependencies
import pandas as pd

In [2]:
# We can create a Pandas Series from a raw list
import pandas as pd

# Creating a Series from a list
data = ['UCLA', 'UC Berkeley', 'UC Irvine', 'University of Central Florida', 'Rutgers University']

# Creating a Pandas Series
series = pd.Series(data)

# Display the Series
print(series)

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [6]:
# Convert a list of dictionaries into a DataFrame
data_list = [
    {'STATE': 'New Jersey', 'New York'},
    {'ABBREVIATION': 'NJ', 'NY'}
]

SyntaxError: invalid syntax (1974343639.py, line 3)

In [4]:
# Convert a single dictionary containing lists into a DataFrame

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis