In [4]:
import pandas as pd
import os
import csv

In [5]:
df = pd.DataFrame(
{"a" : [4, 5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3])
display(df)

# File to Load
file_path = os.path.join('Resources', 'books_clean.csv')
# Read the modified Comic Books csv and store into Pandas DataFrame
df1 = pd.read_csv(file_path)
display(df1.head())

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

,ISBN,Title,Other Titles,Author,All Names,Country of Publication,Place of Publication,Publisher,Publication Year
0,9780930193904,#$@&! : the official Lloyd Llewellyn collection,Official Lloyd Llewellyn collection,"Clowes, Daniel","Clowes, Daniel [person]",England ; United States of America,"London ; Seattle, Washington",Fantagraphics ; Turnaround,1997
1,9780992664220,#WhatDoYouSee? : a graphic novel anthology of ...,NaN,NaN,Fulfilling Lives (Programme) [organisation],England,Newcastle upon Tyne,Roots & Wings,2018
2,9781302903299,#takebacktheshield,NaN,"Spencer, Nick","Spencer, Nick, author [person]",United States of America,New York,Marvel Worldwide,2017
3,9781607065166,'68. Volume 1. Better run through the jungle,Better run through the jungle,"Kidwell, Mark","Fotos, Jay [person] ; Jones, Nat, 1976- [perso...",United States of America,"Berkeley, California",Image Comics,2012
4,9781600107672,'Bots of science,Trans formers ; Trans formers animated : bots ...,"Bryant, Megan E.","Robbins, Robbie [person] ; Boo, 1981- [person]...",United States of America,"San Diego, California",NaN,2010

In [12]:
## of rows in DataFrame.
len(df)

3

In [13]:
#Tuple of # of rows, # of columns in DataFrame.
df.shape

(3, 3)

In [15]:
# of distinct values in a column.
df['a'].nunique()

3

In [16]:
#Basic descriptive and statistics for each column (or GroupBy).
df.describe()

         a    b     c
count  3.0  3.0   3.0
mean   5.0  8.0  11.0
std    1.0  1.0   1.0
min    4.0  7.0  10.0
25%    4.5  7.5  10.5
50%    5.0  8.0  11.0
75%    5.5  8.5  11.5
max    6.0  9.0  12.0

In [ ]:
sum()
Sum values of each object.
count()
Count non-NA/null values of
each object.
median()
Median value of each object.
quantile([0.25,0.75])
Quantiles of each object.
apply(function)
Apply function to each object.
min()
Minimum value in each object.
max()
Maximum value in each object.
mean()
Mean value of each object.
var()
Variance of each object.
std()
Standard deviation of each
object.

In [17]:
df.sum()

a    15
b    24
c    33
dtype: int64

In [ ]:
df.min()

In [ ]:
# Calculate the number of unique authors in the DataFrame
print(df1['Author'].nunique())

In [ ]:
# Calculate the number of unique publication countries in the DataFrame
print(df1['ISBN'].nunique())

In [ ]:
# Print the number of unique authors and countries. 
print(df1['Country of Publication'].nunique())

In [ ]:
# Calculate the earliest/latest year a book was published
df1['Publication Year'].min()
df1['Publication Year'].max()

In [9]:
# Print the earliest and latest year of publication.

# Assuming 'Year' is the name of the column containing the years and 'Book' is the column containing book names
#min_year_index = df1['Publication Year'].idxmin()

# Use the index to get the corresponding 'Book' value
#min_year_book = df1.loc[min_year_index, 'Title']

#print(f"The book with the minimum year of publication is '{min_year_book}' published in the year {df.loc[min_year_index, 'Publication Year']}.")

KeyError: 'Publication Year'

a     4
b     7
c    10
dtype: int64